body {
background-color: #bababa;
margin: 0;
font-family: verdana;
}

.banner {
display: flex;
justify-content: center;
align-items: center;
border-color: #00000080;
border-radius: 15px;
border-top-right-radius: 0px;
border-top-left-radius: 0px;
border-style: solid;
border-width: 0 2px 2px 2px;
max-width: 960px;
margin: auto auto;
padding: 15px;
margin-top: 0;

}
.logo {
	border-radius: 15px;
	box-shadow: 3px 3px 5px #00000060;
	margin: 5px;
}
.logotitle {
padding: 5px;
}
.pagetitle {
margin-top: 30px;
text-align: center;
}
.post {
margin: auto auto;
background-color: #ffffff80;
padding: 15px;
border-width: 2px;
border-style: solid;
border-color: #505050;
margin-bottom: 15px;
border-radius: 9px;
max-width: 960px;
}
.post header {
display: grid;
grid-template-areas: "img"
						 "cabeçalho";
justify-content: center;
}

.tituloDoPost {
margin: 0;
margin-bottom: 15px;
}

.tagPost {
grid-area: tag;
max-width: auto;
font-weight: bold;
font-size: 10px;
color: #ffffff;
border-width: 2px;
border-style: solid;
border-color: #bababa;
border-radius: 5px;
padding: 2px 5px;
background-color: #6a7495;
}

.cabecalhoPost {
grid-area: cabeçalho;
display: flex;
align-items:center;
gap: 10px;
}

.corpoDoPost {
margin: 0;
margin-top: 15px;

}

.imgPost {
width: 100%;
border-radius: 9px;
grid-area: img;
}

.detalhes {
font-size: 11px;
margin: 5px;
}


.rodape {
padding: 2px;
background-color: #00000060;
text-align: center;
}
a {
color: #000;
text-decoration: none;
font-weight: bolder;
}
a:hover {
color: #00000080;
text-decoration: none;
font-weight: bolder;
}
.rodape ul {
margin: 5px;
}
.rodape ul li {
list-style-type: none;
margin-top: 2px;
}